# Operating System Files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
.DS_Store
.Spotlight-V100
.Trashes

# Editor & IDE Files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp
*.swo

# Logs and scratch files
*.log
scratch/

# Vercel
.vercel/
